@tailwind base;
@tailwind components;
@tailwind utilities;

.container {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}
.footer {
  height: 382px;
  /* padding-top: 77px;
  padding-bottom: 46px; */
}
.position {
  display: block;
  transform: rotate(-45deg);
  clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
}
.object-cover {
  object-fit: contain;
}
