@tailwind base;
@tailwind components;
@tailwind utilities;

.container {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}
.footer {
  height: 382px;
  /* padding-top: 77px;
  padding-bottom: 46px; */
}
